In [1]:
# imports
import numpy as np
import pandas as pd
import scipy
from math import sqrt
import matplotlib.pyplot as plt
import seaborn as sns

#estimators 
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn import linear_model

#model metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

#cross validation
from sklearn.model_selection import train_test_split

In [2]:
#inital formatting
df = pd.read_csv('../creditOne.csv')
df.drop(labels="Unnamed: 0", axis="columns", inplace=True)
df["DEFAULT_NEXT_MONTH"] = df["DEFAULT_NEXT_MONTH"].astype('category')
df["SEX"] = df["SEX"].astype("category")
df["EDUCATION"] = df["EDUCATION"].astype("category")
df["MARRIAGE"] = df["MARRIAGE"].astype("category").cat.as_ordered()
df["SEX"] = df["SEX"].astype("category")
df["ID"] = df["ID"].apply(str).astype("string")

In [3]:
# spreading category columns
def sexConvertor(str):
    return '1 0' if str == "female" else '0 1'
def educationConverter(str):
    if str == "graduate school": return '1 0 0 0'
    if str == "high school": return '0 1 0 0'
    if str == "other": return '0 0 1 0'
    if str == "university": return '0 0 0 1'
    return '0 0 0 0' 
def marriageConverter(str):
    if str == "0": return '1 0 0 0'
    if str == "1": return '0 1 0 0'
    if str == "2": return '0 0 1 0'
    if str == "3": return '0 0 0 1'
    return '0 0 0 0'

df[["SEX_FEMALE", "SEX_MALE"]] = df["SEX"].map(sexConvertor).str.split(' ',expand=True).replace("0", False).replace("1",True)
df[["ED_GRAD", "ED_HS", "ED_OTHER", "ED_UNI"]] = df["EDUCATION"].map(educationConverter).str.split(' ',expand=True).replace("0", False).replace("1",True)
df[["MARRIAGE_0", "MARRIAGE_1", "MARRIAGE_2", "MARRIAGE_3"]] = df["MARRIAGE"].map(marriageConverter).str.split(' ',expand=True).replace("0", False).replace("1",True)

df["DEFAULT_NEXT_MONTH"] = df["DEFAULT_NEXT_MONTH"].replace("default",True).replace("not default", False).astype("bool")

In [4]:
print("INFO:______________________")
print(df.info())
print("\n\nDESCRIBE:__________________")
print(df.describe())
print("\n\nHEAD:______________________")
print(df.head())

INFO:______________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  30000 non-null  string
 1   LIMIT_BAL           30000 non-null  float64
 2   SEX                 30000 non-null  category
 3   EDUCATION           30000 non-null  category
 4   MARRIAGE            30000 non-null  category
 5   AGE                 30000 non-null  float64
 6   PAY_0               30000 non-null  float64
 7   PAY_2               30000 non-null  float64
 8   PAY_3               30000 non-null  float64
 9   PAY_4               30000 non-null  float64
 10  PAY_5               30000 non-null  float64
 11  PAY_6               30000 non-null  float64
 12  BILL_AMT1           30000 non-null  float64
 13  BILL_AMT2           30000 non-null  float64
 14  BILL_AMT3           30000 non-null  float64
 15  BILL_AMT4           30000 non-null  float64
 16  BILL_AMT5           30000 non-null  float64
 17  BILL_AMT6           30000 non-null  float64
 18  PAY_AMT1            30000 non-null  float64
 19  PAY_AMT2            30000 non-null  float64
 20  PAY_AMT3            30000 non-null  float64
 21  PAY_AMT4            30000 non-null  float64
 22  PAY_AMT5            30000 non-null  float64
 23  PAY_AMT6            30000 non-null  float64
 24  DEFAULT_NEXT_MONTH  30000 non-null  bool
 25  SEX_FEMALE          30000 non-null  bool
 26  SEX_MALE            30000 non-null  bool
 27  ED_GRAD             30000 non-null  bool
 28  ED_HS               30000 non-null  bool
 29  ED_OTHER            30000 non-null  bool
 30  ED_UNI              30000 non-null  bool
 31  MARRIAGE_0          30000 non-null  bool
 32  MARRIAGE_1          30000 non-null  bool
 33  MARRIAGE_2          30000 non-null  bool
 34  MARRIAGE_3          30000 non-null  bool
dtypes: bool(11), category(3), float64(20), string(1)
memory usage: 5.2 MB
None


DESCRIBE:__________________
            LIMIT_BAL           AGE         PAY_0         PAY_2         PAY_3  \
count    30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean    167484.322667     35.485500     -0.016700     -0.133767     -0.166200
std     129747.661567      9.217904      1.123802      1.197186      1.196868
min      10000.000000     21.000000     -2.000000     -2.000000     -2.000000
25%      50000.000000     28.000000     -1.000000     -1.000000     -1.000000
50%     140000.000000     34.000000      0.000000      0.000000      0.000000
75%     240000.000000     41.000000      0.000000      0.000000      0.000000
max    1000000.000000     79.000000      8.000000      8.000000      8.000000

              PAY_4         PAY_5         PAY_6      BILL_AMT1      BILL_AMT2  \
count  30000.000000  30000.000000  30000.000000   30000.000000   30000.000000
mean      -0.220667     -0.266200     -0.291100   51223.330900   49179.075167
std        1.169139      1.133187      1.149988   73635.860576   71173.768783
min       -2.000000     -2.000000     -2.000000 -165580.000000  -69777.000000
25%       -1.000000     -1.000000     -1.000000    3558.750000    2984.750000
50%        0.000000      0.000000      0.000000   22381.500000   21200.000000
75%        0.000000      0.000000      0.000000   67091.000000   64006.250000
max        8.000000      8.000000      8.000000  964511.000000  983931.000000

          BILL_AMT3      BILL_AMT4      BILL_AMT5      BILL_AMT6  \
count  3.000000e+04   30000.000000   30000.000000   30000.000000
mean   4.701315e+04   43262.948967   40311.400967   38871.760400
std    6.934939e+04   64332.856134   60797.155770   59554.107537
min   -1.572640e+05 -170000.000000  -81334.000000 -339603.000000
25%    2.666250e+03    2326.750000    1763.000000    1256.000000
50%    2.008850e+04   19052.000000   18104.500000   17071.000000
75%    6.016475e+04   54506.000000   50190.500000   49198.250000
max    1.664089e+06  891586.000000  927171.000000  961664.000000

            PAY_AMT1      PAY_AMT2      PAY_AMT3       PAY_AMT4  \
count   30000.000000  3.000000e+04   30000.00000   30000.000000
mean     5663.580500  5.921163e+03    5225.68150    4826.076867
std     16563.280354  2.304087e+04   17606.96147   15666.159744
min         0.000000  0.000000e+00       0.00000       0.000000
25%      1000.000000  8.330000e+02     390.00000     296.000000
50%      2100.000000  2.009000e+03    1800.00000    1500.000000
75%      5006.000000  5.000000e+03    4505.00000    4013.250000
max    873552.000000  1.684259e+06  896040.00000  621000.000000

            PAY_AMT5       PAY_AMT6
count   30000.000000   30000.000000
mean     4799.387633    5215.502567
std     15278.305679   17777.465775
min         0.000000       0.000000
25%       252.500000     117.750000
50%      1500.000000    1500.000000
75%      4031.500000    4000.000000
max    426529.000000  528666.000000


HEAD:______________________
  ID  LIMIT_BAL     SEX   EDUCATION MARRIAGE   AGE  PAY_0  PAY_2  PAY_3  \
0  1    20000.0  female  university        1  24.0    2.0    2.0   -1.0
1  2   120000.0  female  university        2  26.0   -1.0    2.0    0.0
2  3    90000.0  female  university        2  34.0    0.0    0.0    0.0
3  4    50000.0  female  university        1  37.0    0.0    0.0    0.0
4  5    50000.0    male  university        1  57.0   -1.0    0.0   -1.0

   PAY_4  ...  SEX_FEMALE  SEX_MALE  ED_GRAD  ED_HS  ED_OTHER  ED_UNI  \
0   -1.0  ...        True     False    False  False     False    True
1    0.0  ...        True     False    False  False     False    True
2    0.0  ...        True     False    False  False     False    True
3    0.0  ...        True     False    False  False     False    True
4    0.0  ...       False      True    False  False     False    True

   MARRIAGE_0  MARRIAGE_1  MARRIAGE_2  MARRIAGE_3
0       False       False       False       False
1       False       False       False       False
2       False       False       False       False
3       False       False       False       False
4       False       False       False       False

[5 rows x 35 columns]